.App {
  text-align: center;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

h1 {
  color: rgb(9, 151, 218);
}

form {
  padding: 6rem 3rem;
  width: 40%;
  margin: 2rem auto 2rem auto;
  outline: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  
}

form input {
  margin: 1rem;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}

form input:focus {
  border: 1px solid green;
}

button.btn {
  background-color: rgb(9, 151, 218);
  border: none;
  padding: .7rem 3rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: aliceblue;
  border-radius: 8px;
  margin-top: 3rem;
  position: absolute;
  right: 65px;
  bottom: 10px;
}

th {
  border: 1px solid #ccc;
}